h1 {
    margin-bottom: -0.2em;
}

.main-nav {
  margin-left: -2.2em;
}
  ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li {
  display: inline;
}
