.template {
  display: none;
}

footer {
  font-size: 0.8em;
    padding-top: 20px;
    color: blue;
}

.line-break {
  width: 80%;
  height: 1px;
  background-color: #cecece;
  margin-top:15px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .navbar li {
    display: inline;
  }
}
